@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    /* overflow: hidden; */
    margin: 50px 0;
}

/* BUTTON 1 */

.btn-1 {
    text-decoration: none;
    color: #272727;
    font-size: 20px;
    border: 3px solid #272727;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    transition: color 1.5s;
}

.btn-1:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #272727;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: transform 1s;
}

.btn-1:hover:before {
    transform: rotate(0deg);
}

.btn-1:hover {
    color: aliceblue;
}


/* BUTTON 2 */


.btn-2 {
    margin-top: 10px;
    text-decoration: none;
    color: #1680b1;
    font-size: 20px;
    border: 3px solid #1680b1;
    padding: 10px 20px;
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

.btn-2:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #1680b1;
    z-index: -1;
    transform: translateX(-100%);
    transition: all 1s;
}

.btn-2:hover:before {
    transform: translateX(0);
}

.btn-2:hover {
    color: #fff;
}


/* BUTTON 3 */

.btn-3 {
    margin-top: 10px;
    text-decoration: none;
    color: #262626;
    font-size: 20px;
    border: 3px solid #262626;
    padding: 10px 20px;
    position: relative;
    transition: 1s;
}

.btn-3:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #262626;
    transition: 1s;
    transform: rotateX(90deg);
    z-index: -1;
}

.btn-3:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #262626;
    transition: 1s;
    transform: rotateY(90deg);
    z-index: -1;
}

.btn-3:hover:before {
    transform: rotateX(0deg);
}

.btn-3:hover:after {
    transform: rotateY(0deg);
}

.btn-3:hover{
    color: #fff;
}


/* BUTTON 4 */

.btn-4 {
    margin-top: 10px;
    text-decoration: none;
    color: #36d136;
    font-size: 20px;
    border: 3px solid #36d136;
    padding: 10px 20px;
    position: relative;
    transition: all 0.5s;
}

.btn-4:hover {
    font-weight: 900;
    letter-spacing: 5px;
    border: 6px solid #36d136;
}


/* BUTTON 5 */

.btn-5 {
    margin-top: 10px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    border: 3px solid #000;
    padding: 10px 20px;
    position: relative;
    transition: all 0.5s;
    overflow: hidden;
}

.btn-5:before {
    content: 'YEAH';
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #262626;
    transition: 1s;
    transform: translateY(-100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-5:hover:before {
    transform: translateY(0);
}


/* BUTTON 6 */

.btn-6 {
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #942323;
    font-size: 20px;
    border: 3px solid #942323;
    padding: 10px 20px;
    position: relative;
    transition: all 0.5s;
    overflow: hidden;
}

.btn-6:hover {
    background-color: #000;
    border: 3px solid #000;
}

.btn-6:before {
    content: '';
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    position: absolute;
    transform: translateX(-100%) rotate(45deg);   
    transition: all 0.3s;
}

.btn-6:hover:before {
    transform: translateX(100%) rotate(45deg);
}


/* BUTTON 7 */

.btn-7 {
    margin-top: 10px;
    text-decoration: none;
    background-color: #262626;
    font-size: 20px;
    border: 3px solid #262626;
    padding: 10px 20px;
    position: relative;
    color: transparent;
    overflow: hidden;
}

.btn-7:before {
    content: 'Hover Me';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fffa65;
    color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.btn-7:after {
    content: 'Hover Me';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fffa65;
    color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    transform: translate(-100%, 100%);
}

.btn-7:hover:before {
    transform: translate(100%, -100%);
}

.btn-7:hover:after {
    transform: translate(0, 0);
}




/* BUTTON 8 */

.btn-8 {
    margin-top: 10px;
    text-decoration: none;
    color: #262626;
    font-size: 20px;
    border: 3px solid #262626;
    padding: 10px 20px;
    position: relative;
    transition: all 0.5s;
    overflow: hidden;
}

.btn-8:before {
    content: 'Hover Me';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #262626;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(5);
    opacity: 0;
    transition: all 0.5s;
}

.btn-8:hover:before {
    transform: scale(1);
    opacity: 1;
}




/* BUTTON 9 */

.btn-9 {
    margin-top: 10px;
    text-decoration: none;
    color: #880f64;
    font-size: 20px;
    border: 3px solid #880f64;
    padding: 10px 20px;
    position: relative;
    transition: all 0.5s;
    overflow: hidden;
}

.btn-9:hover {
    color: #fff;
}

.btn-9:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #880f64;
    transition: all 0.5s;
    z-index: -1;
    border-radius: 0 0 50% 50%;
    height: 0%;
    transition: all 0.5s;
}

.btn-9:hover:before {
    height: 190%;
}


/* BUTTON 10 */

.btn-10 {
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    background-color: #f1c40f;
    padding: 10px 20px;
    position: relative;
    transition: all 0.5s;
    /* overflow: hidden; */
}

.btn-10:before {
    content: 'Hover Me';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #2ce771;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 0.5s;
}

.btn-10:after {
    content: 'Hover Me';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #e7322c;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 0.5s;
    transition-delay: 0.25s;
}

.btn-10:hover:before, .btn-10:hover:after {
    transform: rotateX(0);
}




/* BUTTON 11 */

.btn-11 {
    margin-top: 10px;
    text-decoration: none;
    color: transparent;
    font-size: 20px;
    border: 3px solid #2ce771;
    padding: 10px 20px;
    position: relative;
    transition: all 0.5s;
    overflow: hidden;
}

.btn-11:before {
    content: 'Hover Me';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363636;
    color: #2ce771;
    transition: all 0.5s;
}


.btn-11:after {
    content: 'Hover Me';
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363636;
    color: #2ce771;
    transition: all 0.5s;
    transform: scale(0) rotateY(0deg);
    opacity: 0;
}

.btn-11:hover:before {
    left: 100%;
    transform: scale(0) rotateY(360deg);
    opacity: 0;
}

.btn-11:hover:after {
    left: 0;
    transform: scale(1) rotateY(360deg);
    opacity: 1;
}




/* BUTTON 12 */

.btn-12 {
    width: 120px;
    height: 50px;
    color: #ff0;
    background-color: transparent;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    transition: all 0.5s;
    position: relative;
}

.btn-12:before, .btn-12:after {
    content: '';
    position: absolute;
    top: 25%;
    height: 20px;
    width: 20px;
    background-color: #ff0;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;
    z-index: -1;
    opacity: 0;
}

.btn-12:before {
    left: 0;
    box-shadow: -100px 0 0 #ff0;
}

.btn-12:after {
    right: 0;
    box-shadow: 100px 0 0 #ff0;
}

.btn-12:hover:before {
    left: 50%;
    box-shadow: 30px 0 0 #ff0;
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
} 

.btn-12:hover:after {
    right: 50%;
    box-shadow: -30px 0 0 #ff0;
    transform: translateX(50%) translateY(-50%);
    opacity: 1;
} 

.btn-12 span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff0;
    border-radius: 8px;
    transform: scale(0);
    transition: all 0.3s;
    z-index: -1;
}

.btn-12:hover span{
    transform: scale(1);
    transition-delay: 0.5s;
}

.btn-12:hover {
    color: #262626;
    transition-delay: 0.4s;
}



/* BUTTON 13 */

.btn-13 {
    width: 200px;
    height: 60px;
    margin-top: 10px;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    font-size: 20px;
    padding: 10px 20px;
    position: relative;
    transition: all 0.2s;
    color: #fff;
}

.btn-13:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    height: 100%;
    width: 100%;
    background-color: #20caff;
    z-index: -1;
    mix-blend-mode: multiply;
    transition: all 0.2s;
    transform-origin: top;
}

.btn-13:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    height: 100%;
    width: 100%;
    background-color: #ff7675;
    z-index: -1;
    mix-blend-mode: multiply;
    transition: all 0.2s;
    transform-origin: bottom;
}


.btn-13:hover:before {
    top: -6px;
    left: 0;
    transform: perspective(1000px) rotateX(75deg);
}


.btn-13:hover:after {
    top: 6px;
    left: 0;
    transform: perspective(1000px) rotateX(-75deg);
}

.btn-13:hover {
    color: #272727;
}



/* BUTTON 14 */

.btn-14 {
    margin-top: 10px;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    color: #f6b93b;
    border: 3px solid #f6b93b;
    position: relative;
    transition: all 0.5s;
    overflow: hidden;
}

.btn-14:before,
.btn-14:after,
.btn-14 span:before,
.btn-14 span:after {
    content: '';
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #f6b93b;
    z-index: -1;
    transition: all 0.5s;
}

.btn-14:before {
    top: 100%;
    left: 0;
}

.btn-14:hover:before {
    top: 0;
    left: 0;
}

.btn-14:after {
    top: -100%;
    left: 25%
}

.btn-14:hover:after {
    top: 0;
    left: 25%;
}

.btn-14 span:before {
    top: 100%;
    right: 25%;
}

.btn-14:hover span:before {
    top: 0;
    right: 25%;
}

.btn-14 span:after {
    top: -100%;
    right: 0;
}

.btn-14:hover span:after {
    top: 0;
    right: 0;
}

.btn-14:hover {
    color: #222;
}




/* BUTTON 15 */

.btn-15 {
    margin-top: 20px;
    text-decoration: none;
    font-size: 20px;
    padding-bottom: 10px;
    color: #fdc518;
    position: relative;
    transition: all 0.5s;
    height: 80px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-15:before {
    content: '';
    position: absolute;
    height: 90px;
    width: 200px;
    top: -15px;
    left: 0;
    border-left: 3px solid red;
    border-right: 3px solid #fdc518;
    transition: all 1s;
}

.btn-15:after {
    content: '';
    position: absolute;
    height: 60px;
    width: 230px;
    top: 0;
    left: -15px;
    border-top: 3px solid red;
    border-bottom: 3px solid#fdc518;
    transition: all 1s;
}

.btn-15:hover:before {
    transform: rotateY(180deg);
}

.btn-15:hover:after {
    transform: rotateX(180deg);
}




/* BUTTON 16 */

.btn-16 {
    margin-top: 15px;
    border: none;
    padding: 12px 40px;
    background-color: #c47135;
    color: #fff;
    font-size: 20px;
    position: relative;
    text-decoration: none;
}

.btn-16:before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    top: -5px;
    left: -5px;
    border-top: 2px solid #c47135;
    border-left: 2px solid #c47135;
    transition: all 0.25s;
}

.btn-16:hover:before, .btn-16:hover:after {
    height: 100%;
    width: 100%;
}

.btn-16:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -5px;
    right: -5px;
    border-bottom: 2px solid #c47135;
    border-right: 2px solid #c47135;
    transition: all 0.25s;
}



/* BUTTON 17 */

.btn-17 {
    margin-top: 15px;
    text-decoration: none;
    border: 2px solid #000;
    color: #000;
    padding: 12px 40px;
    font-size: 20px;
    position: relative;
    text-align: center;
    width: 180px;
    height: 60px;
    transition: all 0.2s;
}

.btn-17:hover{
    color: #fff;
}

.btn-17:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -1;
    opacity: 0;
    transition: all 0.8s;
}

.btn-17:hover:before {
    opacity: 1;
    transform: rotate(15deg);
}

.btn-17 span{
    color: transparent;
    position: relative;
}

.btn-17 span:before{
    content: 'H';
    position: absolute;
    color: #000;
    transition: all 0.2s;
}

.btn-17:hover span:before {
    color: #fff;
    font-size: 40px;
    transform: translate(-60%, -25%) rotate(360deg);
}



/* BUTTON 18 */

.btn-18 {
    margin-top: 15px;
    text-decoration: none;
    border: none;
    position: relative;
    color: #000;
    padding: 12px 40px;
    font-size: 20px;
    text-align: center;
    width: 180px;
    height: 60px;
    transition: all 0.2s;
    overflow: hidden;
}

.btn-18:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background-color: #000;
    transition: all 0.5s;
}

.btn-18:hover:before {
    left: 0;
}

.btn-18:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 4px;
    background-color: #000;
    transition: all 0.5s;
}

.btn-18:hover:after {
    right: 0;
}

.btn-18 span:before {
    content: '';
    position: absolute;
    top: -100%;
    right: 0;
    width: 4px;
    height: 100%;
    background-color: #000;
    transition: all 0.5s;
}

.btn-18:hover span:before {
    top: 0;
}

.btn-18 span:after {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: #000;
    transition: all 0.5s;
}

.btn-18:hover span:after {
    bottom: 0;
}



/* BUTTON 19 */

.btn-19 {
    margin-top: 15px;
    text-decoration: none;
    padding: 12px 40px;
    color: #00aeff;
    font-size: 20px;
    border: 2px solid #00aeff;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
}

.btn-19:hover {
    color: #fff;
}

.wave {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: calc(100% + 22px);
    background-color: #00aeff;
    transition: all 1s;
    z-index: -1;
}

.btn-19:hover .wave{
    top: 0;
}

.wave:before {
    content: '';
    position: absolute;
    top: -22px;
    left: 0;
    width: 100%;
    height: 22px;
    background: url(/img/wave.png);
    animation: wavy 0.5s linear infinite;
}

@keyframes wavy {
    0% {background-position-x: 0}
    100% {background-position-x: 118px}
}




/* BUTTON 20 */

.btn-20 {
    margin-top: 15px;
    text-decoration: none;
    width: 180px;
    height: 60px;
    padding: 12px 40px;
    color: #000;
    font-size: 20px;
    position: relative;
    transition: all 0.2s;
    overflow: hidden;
}

.btn-20 span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    border: 2px solid black;
    z-index: -1;
}

.btn-20 span:before {
    content: '';
    position: absolute;
    width: 8%;
    height: 500%;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transition: all 0.2s;
    transform: translate(-50%, -50%) rotate(-60deg);
}

.btn-20:hover span:before {
    width: 100%;
    background-color: black;
    transform: translate(-50%, -50%) rotate(60deg);
}

.btn-20:hover {
    color: white;
}